@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&family=Rubik:ital,wght@0,400;0,500;0,700;1,300&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:'Roboto';
}
body{
    margin: 0;
}
.bg-container{
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    background-image:radial-gradient( circle farthest-corner at 10% 20%,  rgba(90,92,106,0.8) 0%, rgba(32,45,58,0.8) 81.3% ),
    url('./images/pankaj-patel-_SgRNwAVNKw-unsplash.jpg');
    height: 100vh;
}
a{
    text-decoration: none;
    color:#fff;
    display: inline-block;
}
/* Navigation Menu  Desktop Part*/

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}
nav{
    display: flex;
    max-width: 90%;
    min-width:25%;
    margin-left: auto;
    justify-content:space-between;
    align-items: center;
    padding:1.2rem;
}
#sampleLogo{
    font-family: Iceland;
    font-size:25px;
    font-weight:bold;
    color:white;
    border:2px solid white;
    padding : 10px;
    margin-right: auto;
}
.links{
    display: flex;
    width: 100%;
    font-size:1.2rem;
    color:white;
    font-family: 'Roboto';
    list-style-type: none;
    justify-content: space-between;
}
.links li{
    display:block;
    margin-right: 1.7em;
}
#bars,#close{
    display: none;
}
.links li a:hover{
    color:#00d4ff;
    cursor: pointer;
}
/* Banner Section Styling*/
.banner{
    min-height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner-heading{
    color:white;
    font-family: 'Rubik';
    font-size:2rem;
    text-align: center;
}
h1 span{
    color:#fcb045;
    font-size:3rem;
}
.banner p{
    color:white;
    font-family: 'Roboto';
    font-size: 1.4rem;
}
p span{
    color:#00d4ff;
}
.about-us-section{
    text-align: center;
    padding:1.4rem;
    margin-bottom:15px;
}
.about-us-section p{
    text-align: left;
    font-size: 18px;
    margin-bottom: 10px;
    color:#1e151e;
    margin-top: 15px;
}
.about-us-section p span{
    color:#fcb045;
}
.what-we-do li{
    text-align: left;
    padding-bottom:3px;
    color:#1e151e;
    list-style-type:none;
}
.what-we-do li a{
    text-align: left;
    color:#1e151e;
    text-decoration: underline;
}
.what-we-do li a:hover{
    color:#fcb045;
}
.about-us-card-lg{
    display: flex;
    align-items: center;
    justify-content: center;
}
.code-symbol-image{
    width: 25%;
}
.team-section{
    padding:10px;
    text-align: center;
    margin-bottom: 10px;
}
.team-section-heading{
    font-size: 28px;
    margin-bottom:10px;
}
.team-section p{
    font-size:22px;
    color:#4c454c;
    margin-bottom: 10px;
}
.cards-container{
    display: flex;
    align-items: center;
}
.profile-card{
    width:32%;
    padding:10px;
    margin:10px;
    background-color:transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 18px;

}
.profile-card:hover{
    box-shadow: 0 0.8em 0.8em -0.4em #44464d;
    transform: translateY(-0.25em);
}
.profile-image{
    border-radius: 50%;
    margin-bottom:10px;
    border: 1px solid black;

}
.social-container {
    text-align: center;
}
.social-icons {
    padding: 0;
    list-style: none;
    margin: 1em;
}
.social-icons li {
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 1em;
}
.social-icons i {
    color: #fff;
    position: absolute;
    top: 7px;
    left: 7.3px;
    transition: all 265ms ease-out;
}
.social-icons a {
    display: inline-block;
}
.social-icons a:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: block;
    background: linear-gradient(45deg, #00b5f5, #002a8f);
    transition: all 265ms ease-out;
}
.social-icons a:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in;
}
.social-icons a:hover i {
    transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    color: #00b5f5;
    background: -webkit-linear-gradient(45deg, #00b5f5, #002a8f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
}
footer{
    background-color: #242224;
    padding:10px;
}
footer h1{
    color: white;
    font-size:18px;
    text-align: center;
}
footer h1 span{
    font-size: 18px;
}
@media screen and (max-width:720px){
    .hide{
        visibility: none;
        display: none;
        opacity: 0;
    }
    #bars,#close{
        color:white;
        font-size: 23px;
        cursor: pointer;
        transition: 0.2s;
        text-align: right;
    }
    #bars:hover,#close:hover{
        color: #fff;
        text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #0fa,
            0 0 82px #0fa,
            0 0 92px #0fa,
            0 0 102px #0fa,
            0 0 151px #0fa;
    }
    .anchor-tags{
        background-color: gray;
        height: 100%;
    }
    .display{
        display: none;
    }
    header{
        width: 100%;
        position: fixed;
    }
    .active nav{
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient( 109.6deg,  rgba(116,18,203,1) 11.2%, rgba(230,46,131,1) 91.2% );
        background-size: cover;
        position: absolute; 
        top:0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:15px;
        opacity: 0;
        visibility: none;
        pointer-events: none;
    }
    #bars{
        align-self: flex-end;
        order:-3;
        display: block;
        z-index: 999;
        position:fixed;
        top:15px;
        visibility: visible;
        opacity: 1;

    }
    #close{
        align-self: flex-end;
        order:-1;
        font-size: 24px;
        color:white;
        display: block;
        z-index: 999;
        position:fixed;
        top:15px;
        visibility: hidden;


    }
    .links{
        display: none;
    }
    nav .links li{
        font-family: 'Roboto';
        color:white;
        font-size:1.6rem;
        padding: 10px;
        text-align: center;
        order:3;
        list-style-type: none;
        cursor: pointer;
    }
    .active nav{
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    .active #bars{
        visibility:hidden;
        opacity: 0;
    }
    .active #close{
        visibility: visible;
    }
    .active .links{
        display:block;
    }
    nav{
        max-width: 100%;
        min-width: auto;
    }
    .banner{
        height:90%;
        
    }
    .code-symbol-image{
        display: none;
    }
    .profile-card{
        width:90%;
    }
    .cards-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}